.pure-u-1,
.pure-u-1-1,
.pure-u-1-2,
.pure-u-1-3,
.pure-u-2-3,
.pure-u-1-6,
.pure-u-5-6,
.pure-u-1-9,
.pure-u-2-9,
.pure-u-4-9,
.pure-u-5-9,
.pure-u-7-9,
.pure-u-8-9,
.pure-u-1-18,
.pure-u-2-18,
.pure-u-3-18,
.pure-u-4-18,
.pure-u-5-18,
.pure-u-6-18,
.pure-u-7-18,
.pure-u-8-18,
.pure-u-9-18,
.pure-u-10-18,
.pure-u-11-18,
.pure-u-12-18,
.pure-u-13-18,
.pure-u-14-18,
.pure-u-15-18,
.pure-u-16-18,
.pure-u-17-18,
.pure-u-18-18 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.pure-u-1-18 {
    width: 5.5556%;
    *width: 5.5246%;
}

.pure-u-1-9,
.pure-u-2-18 {
    width: 11.1111%;
    *width: 11.0801%;
}

.pure-u-1-6,
.pure-u-3-18 {
    width: 16.6667%;
    *width: 16.6357%;
}

.pure-u-2-9,
.pure-u-4-18 {
    width: 22.2222%;
    *width: 22.1912%;
}

.pure-u-5-18 {
    width: 27.7778%;
    *width: 27.7468%;
}

.pure-u-1-3,
.pure-u-6-18 {
    width: 33.3333%;
    *width: 33.3023%;
}

.pure-u-7-18 {
    width: 38.8889%;
    *width: 38.8579%;
}

.pure-u-4-9,
.pure-u-8-18 {
    width: 44.4444%;
    *width: 44.4134%;
}

.pure-u-1-2,
.pure-u-9-18 {
    width: 50%;
    *width: 49.9690%;
}

.pure-u-5-9,
.pure-u-10-18 {
    width: 55.5556%;
    *width: 55.5246%;
}

.pure-u-11-18 {
    width: 61.1111%;
    *width: 61.0801%;
}

.pure-u-2-3,
.pure-u-12-18 {
    width: 66.6667%;
    *width: 66.6357%;
}

.pure-u-13-18 {
    width: 72.2222%;
    *width: 72.1912%;
}

.pure-u-7-9,
.pure-u-14-18 {
    width: 77.7778%;
    *width: 77.7468%;
}

.pure-u-5-6,
.pure-u-15-18 {
    width: 83.3333%;
    *width: 83.3023%;
}

.pure-u-8-9,
.pure-u-16-18 {
    width: 88.8889%;
    *width: 88.8579%;
}

.pure-u-17-18 {
    width: 94.4444%;
    *width: 94.4134%;
}

.pure-u-1,
.pure-u-1-1,
.pure-u-18-18 {
    width: 100%;
}

@media screen and (min-width: 35.5em) {
    .pure-u-sm-1,
    .pure-u-sm-1-1,
    .pure-u-sm-1-2,
    .pure-u-sm-1-3,
    .pure-u-sm-2-3,
    .pure-u-sm-1-6,
    .pure-u-sm-5-6,
    .pure-u-sm-1-9,
    .pure-u-sm-2-9,
    .pure-u-sm-4-9,
    .pure-u-sm-5-9,
    .pure-u-sm-7-9,
    .pure-u-sm-8-9,
    .pure-u-sm-1-18,
    .pure-u-sm-2-18,
    .pure-u-sm-3-18,
    .pure-u-sm-4-18,
    .pure-u-sm-5-18,
    .pure-u-sm-6-18,
    .pure-u-sm-7-18,
    .pure-u-sm-8-18,
    .pure-u-sm-9-18,
    .pure-u-sm-10-18,
    .pure-u-sm-11-18,
    .pure-u-sm-12-18,
    .pure-u-sm-13-18,
    .pure-u-sm-14-18,
    .pure-u-sm-15-18,
    .pure-u-sm-16-18,
    .pure-u-sm-17-18,
    .pure-u-sm-18-18 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .pure-u-sm-1-18 {
        width: 5.5556%;
        *width: 5.5246%;
    }

    .pure-u-sm-1-9,
    .pure-u-sm-2-18 {
        width: 11.1111%;
        *width: 11.0801%;
    }

    .pure-u-sm-1-6,
    .pure-u-sm-3-18 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .pure-u-sm-2-9,
    .pure-u-sm-4-18 {
        width: 22.2222%;
        *width: 22.1912%;
    }

    .pure-u-sm-5-18 {
        width: 27.7778%;
        *width: 27.7468%;
    }

    .pure-u-sm-1-3,
    .pure-u-sm-6-18 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .pure-u-sm-7-18 {
        width: 38.8889%;
        *width: 38.8579%;
    }

    .pure-u-sm-4-9,
    .pure-u-sm-8-18 {
        width: 44.4444%;
        *width: 44.4134%;
    }

    .pure-u-sm-1-2,
    .pure-u-sm-9-18 {
        width: 50%;
        *width: 49.9690%;
    }

    .pure-u-sm-5-9,
    .pure-u-sm-10-18 {
        width: 55.5556%;
        *width: 55.5246%;
    }

    .pure-u-sm-11-18 {
        width: 61.1111%;
        *width: 61.0801%;
    }

    .pure-u-sm-2-3,
    .pure-u-sm-12-18 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .pure-u-sm-13-18 {
        width: 72.2222%;
        *width: 72.1912%;
    }

    .pure-u-sm-7-9,
    .pure-u-sm-14-18 {
        width: 77.7778%;
        *width: 77.7468%;
    }

    .pure-u-sm-5-6,
    .pure-u-sm-15-18 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .pure-u-sm-8-9,
    .pure-u-sm-16-18 {
        width: 88.8889%;
        *width: 88.8579%;
    }

    .pure-u-sm-17-18 {
        width: 94.4444%;
        *width: 94.4134%;
    }

    .pure-u-sm-1,
    .pure-u-sm-1-1,
    .pure-u-sm-18-18 {
        width: 100%;
    }
}

@media screen and (min-width: 48em) {
    .pure-u-md-1,
    .pure-u-md-1-1,
    .pure-u-md-1-2,
    .pure-u-md-1-3,
    .pure-u-md-2-3,
    .pure-u-md-1-6,
    .pure-u-md-5-6,
    .pure-u-md-1-9,
    .pure-u-md-2-9,
    .pure-u-md-4-9,
    .pure-u-md-5-9,
    .pure-u-md-7-9,
    .pure-u-md-8-9,
    .pure-u-md-1-18,
    .pure-u-md-2-18,
    .pure-u-md-3-18,
    .pure-u-md-4-18,
    .pure-u-md-5-18,
    .pure-u-md-6-18,
    .pure-u-md-7-18,
    .pure-u-md-8-18,
    .pure-u-md-9-18,
    .pure-u-md-10-18,
    .pure-u-md-11-18,
    .pure-u-md-12-18,
    .pure-u-md-13-18,
    .pure-u-md-14-18,
    .pure-u-md-15-18,
    .pure-u-md-16-18,
    .pure-u-md-17-18,
    .pure-u-md-18-18 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .pure-u-md-1-18 {
        width: 5.5556%;
        *width: 5.5246%;
    }

    .pure-u-md-1-9,
    .pure-u-md-2-18 {
        width: 11.1111%;
        *width: 11.0801%;
    }

    .pure-u-md-1-6,
    .pure-u-md-3-18 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .pure-u-md-2-9,
    .pure-u-md-4-18 {
        width: 22.2222%;
        *width: 22.1912%;
    }

    .pure-u-md-5-18 {
        width: 27.7778%;
        *width: 27.7468%;
    }

    .pure-u-md-1-3,
    .pure-u-md-6-18 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .pure-u-md-7-18 {
        width: 38.8889%;
        *width: 38.8579%;
    }

    .pure-u-md-4-9,
    .pure-u-md-8-18 {
        width: 44.4444%;
        *width: 44.4134%;
    }

    .pure-u-md-1-2,
    .pure-u-md-9-18 {
        width: 50%;
        *width: 49.9690%;
    }

    .pure-u-md-5-9,
    .pure-u-md-10-18 {
        width: 55.5556%;
        *width: 55.5246%;
    }

    .pure-u-md-11-18 {
        width: 61.1111%;
        *width: 61.0801%;
    }

    .pure-u-md-2-3,
    .pure-u-md-12-18 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .pure-u-md-13-18 {
        width: 72.2222%;
        *width: 72.1912%;
    }

    .pure-u-md-7-9,
    .pure-u-md-14-18 {
        width: 77.7778%;
        *width: 77.7468%;
    }

    .pure-u-md-5-6,
    .pure-u-md-15-18 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .pure-u-md-8-9,
    .pure-u-md-16-18 {
        width: 88.8889%;
        *width: 88.8579%;
    }

    .pure-u-md-17-18 {
        width: 94.4444%;
        *width: 94.4134%;
    }

    .pure-u-md-1,
    .pure-u-md-1-1,
    .pure-u-md-18-18 {
        width: 100%;
    }
}

@media screen and (min-width: 64em) {
    .pure-u-lg-1,
    .pure-u-lg-1-1,
    .pure-u-lg-1-2,
    .pure-u-lg-1-3,
    .pure-u-lg-2-3,
    .pure-u-lg-1-6,
    .pure-u-lg-5-6,
    .pure-u-lg-1-9,
    .pure-u-lg-2-9,
    .pure-u-lg-4-9,
    .pure-u-lg-5-9,
    .pure-u-lg-7-9,
    .pure-u-lg-8-9,
    .pure-u-lg-1-18,
    .pure-u-lg-2-18,
    .pure-u-lg-3-18,
    .pure-u-lg-4-18,
    .pure-u-lg-5-18,
    .pure-u-lg-6-18,
    .pure-u-lg-7-18,
    .pure-u-lg-8-18,
    .pure-u-lg-9-18,
    .pure-u-lg-10-18,
    .pure-u-lg-11-18,
    .pure-u-lg-12-18,
    .pure-u-lg-13-18,
    .pure-u-lg-14-18,
    .pure-u-lg-15-18,
    .pure-u-lg-16-18,
    .pure-u-lg-17-18,
    .pure-u-lg-18-18 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .pure-u-lg-1-18 {
        width: 5.5556%;
        *width: 5.5246%;
    }

    .pure-u-lg-1-9,
    .pure-u-lg-2-18 {
        width: 11.1111%;
        *width: 11.0801%;
    }

    .pure-u-lg-1-6,
    .pure-u-lg-3-18 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .pure-u-lg-2-9,
    .pure-u-lg-4-18 {
        width: 22.2222%;
        *width: 22.1912%;
    }

    .pure-u-lg-5-18 {
        width: 27.7778%;
        *width: 27.7468%;
    }

    .pure-u-lg-1-3,
    .pure-u-lg-6-18 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .pure-u-lg-7-18 {
        width: 38.8889%;
        *width: 38.8579%;
    }

    .pure-u-lg-4-9,
    .pure-u-lg-8-18 {
        width: 44.4444%;
        *width: 44.4134%;
    }

    .pure-u-lg-1-2,
    .pure-u-lg-9-18 {
        width: 50%;
        *width: 49.9690%;
    }

    .pure-u-lg-5-9,
    .pure-u-lg-10-18 {
        width: 55.5556%;
        *width: 55.5246%;
    }

    .pure-u-lg-11-18 {
        width: 61.1111%;
        *width: 61.0801%;
    }

    .pure-u-lg-2-3,
    .pure-u-lg-12-18 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .pure-u-lg-13-18 {
        width: 72.2222%;
        *width: 72.1912%;
    }

    .pure-u-lg-7-9,
    .pure-u-lg-14-18 {
        width: 77.7778%;
        *width: 77.7468%;
    }

    .pure-u-lg-5-6,
    .pure-u-lg-15-18 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .pure-u-lg-8-9,
    .pure-u-lg-16-18 {
        width: 88.8889%;
        *width: 88.8579%;
    }

    .pure-u-lg-17-18 {
        width: 94.4444%;
        *width: 94.4134%;
    }

    .pure-u-lg-1,
    .pure-u-lg-1-1,
    .pure-u-lg-18-18 {
        width: 100%;
    }
}

@media screen and (min-width: 80em) {
    .pure-u-xl-1,
    .pure-u-xl-1-1,
    .pure-u-xl-1-2,
    .pure-u-xl-1-3,
    .pure-u-xl-2-3,
    .pure-u-xl-1-6,
    .pure-u-xl-5-6,
    .pure-u-xl-1-9,
    .pure-u-xl-2-9,
    .pure-u-xl-4-9,
    .pure-u-xl-5-9,
    .pure-u-xl-7-9,
    .pure-u-xl-8-9,
    .pure-u-xl-1-18,
    .pure-u-xl-2-18,
    .pure-u-xl-3-18,
    .pure-u-xl-4-18,
    .pure-u-xl-5-18,
    .pure-u-xl-6-18,
    .pure-u-xl-7-18,
    .pure-u-xl-8-18,
    .pure-u-xl-9-18,
    .pure-u-xl-10-18,
    .pure-u-xl-11-18,
    .pure-u-xl-12-18,
    .pure-u-xl-13-18,
    .pure-u-xl-14-18,
    .pure-u-xl-15-18,
    .pure-u-xl-16-18,
    .pure-u-xl-17-18,
    .pure-u-xl-18-18 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .pure-u-xl-1-18 {
        width: 5.5556%;
        *width: 5.5246%;
    }

    .pure-u-xl-1-9,
    .pure-u-xl-2-18 {
        width: 11.1111%;
        *width: 11.0801%;
    }

    .pure-u-xl-1-6,
    .pure-u-xl-3-18 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .pure-u-xl-2-9,
    .pure-u-xl-4-18 {
        width: 22.2222%;
        *width: 22.1912%;
    }

    .pure-u-xl-5-18 {
        width: 27.7778%;
        *width: 27.7468%;
    }

    .pure-u-xl-1-3,
    .pure-u-xl-6-18 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .pure-u-xl-7-18 {
        width: 38.8889%;
        *width: 38.8579%;
    }

    .pure-u-xl-4-9,
    .pure-u-xl-8-18 {
        width: 44.4444%;
        *width: 44.4134%;
    }

    .pure-u-xl-1-2,
    .pure-u-xl-9-18 {
        width: 50%;
        *width: 49.9690%;
    }

    .pure-u-xl-5-9,
    .pure-u-xl-10-18 {
        width: 55.5556%;
        *width: 55.5246%;
    }

    .pure-u-xl-11-18 {
        width: 61.1111%;
        *width: 61.0801%;
    }

    .pure-u-xl-2-3,
    .pure-u-xl-12-18 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .pure-u-xl-13-18 {
        width: 72.2222%;
        *width: 72.1912%;
    }

    .pure-u-xl-7-9,
    .pure-u-xl-14-18 {
        width: 77.7778%;
        *width: 77.7468%;
    }

    .pure-u-xl-5-6,
    .pure-u-xl-15-18 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .pure-u-xl-8-9,
    .pure-u-xl-16-18 {
        width: 88.8889%;
        *width: 88.8579%;
    }

    .pure-u-xl-17-18 {
        width: 94.4444%;
        *width: 94.4134%;
    }

    .pure-u-xl-1,
    .pure-u-xl-1-1,
    .pure-u-xl-18-18 {
        width: 100%;
    }
}