/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300);
@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);

/* Base */
/* ----------------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Merriweather', Georgia, serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  background-color: #fff;
  width: 90%;
  margin: auto;
  padding-top: 3em;
  padding-bottom: 50px;
}


@media screen and (min-width: 64em) {
  body {
    width: 57em;
    padding-top: 4em;
  }
}

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400; }

h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

a         { color: #000; text-decoration: underline; }
a:hover   { background: rgb(255, 233, 78) }
a:visited { color: #a9a9a9; }


/* Layout Styles */
/* ----------------------------------------------------------*/

header {
  margin-bottom: 1em;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    color: #aaa;
    font-size: 12px;
    text-align: center;
}

.site-title {
  display: block;
  width: 100%;
  color: #333;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 77.4px;
  letter-spacing: -0.04em;
  line-height: 0.8;
  float: left;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-align: center;
  margin-bottom: 20px;
}

.site-title:hover,
.site-title:visited {
  color: #333;
  text-decoration: none;
  background: #fff;
}

@media screen and (max-width: 48em) {
  .site-title,
  .site-title:hover,
  .site-title:visited {
    font-size: 4em;
  }
}

@media screen and (max-width: 35.5em) {
  .site-title,
  .site-title:hover,
  .site-title:visited {
    font-size: 3.2em;
  }
}

@media screen and (min-width: 64em) {
  .first-name {
    font-size: 50px;
  }

  .site-title {
    text-align: right;
  }
}


/* Contact styles */
/* ----------------------------------------------------------*/
.contact {
  text-align: right;
  font-size: 1.1em;
}

.contact a:hover,
.contact a:visited {
  color: #000;
}

.contact ul {
  list-style: none;
}

@media screen and (max-width: 64em) {
  .contact ul {
    text-align: center;
  }

  .contact ul > li {
    display: inline;
  }

  .contact ul > li::after {
    content: "\2022";
    font-size: 1em;
    margin-left: 0.3em;
    text-align: center;
  }

  .contact ul > li:last-child::after {
    content: "";
  }
}

@media screen and (max-width: 48em) {
  .contact {
    font-size: 1.0em;
  }
}

@media screen and (max-width: 35.5em) {
  .contact {
    font-size: 0.9em;
  }
}


/* Page Content styles */
/* ----------------------------------------------------------*/

.page-content {
  padding: 30px 0;
  background-color: #fff;
}


/* Home styles */
/* ----------------------------------------------------------*/

.posts { list-style-type: none; }

.posts li { margin-bottom: 3em; }

.posts .post-link {
  font-size: 36px;
  line-height: 1.2;
  color: #333;
}

.posts .post-date {
  font-style: italic;
  display: block;
  font-size: 14px;
  color: #595959;
}

@media screen and (max-width: 35.5em) {
  .posts li {
    margin-bottom: 2.4em;
  }

  .posts .post-link {
    font-size: 28px;
  }
}


/* Post styles */
/* ----------------------------------------------------------*/

.post-header { margin: 10px 0 30px; }

.post-header h1 {
  font-size: 42px;
  line-height: 1.2;
}

.post-header .meta {
  font-style: italic;
  font-size: 15px;
  color: #818181;
  margin-top: 5px;
}

@media screen and (max-width: 48em) {
  .post-header h1 {
    font-size: 34px;
  }
}

@media screen and (max-width: 35.5em) {
  .post-header h1 {
    font-size: 28px;
  }
}

.post-content {
  line-height: 1.8;
  font-size: 18px;
  margin: 0 0 30px;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  line-height: 1;
  margin: 55px 0 20px;
}

.post-content h2 {
  font-size: 32px;
}

.post-content h3 {
  font-size: 26px;
}

.post-content h4 {
  font-size: 20px;
}

.post-content blockquote {
  border-left: 4px solid #e8e8e8;
  padding-left: 20px;
  font-size: 18px;
  opacity: .6;
  font-style: italic;
  margin: 30px 0;
}

.post-content > * {
  margin: 30px 0;
}

.post pre,
.post code {
  border: 1px solid #fff;
  background-color: #fff;
  padding: 8px 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-family: 'Inconsolata', monospace;
  font-size: 15px;
}

@media screen and (max-width: 48em) {
  .post pre,
  .post code {
    overflow: scroll;
  }
}

.post code { padding: 1px 5px; }

.post ul,
.post ol { margin-left: 1.35em; }

.post pre code { border: none; }

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.post pre.terminal code { background-color: #333; }

/* Syntax highlighting styles */
/* ----------------------------------------------------------*/

.highlight .hll { background-color: #f5f5f5 }
.highlight  { background: #fff; color: #000000 }
.highlight .c { color: #d0d0d0 } /* Comment */
.highlight .err { color: #fb0120 } /* Error */
.highlight .k { color: #d381c3 } /* Keyword */
.highlight .l { color: #fc6d24 } /* Literal */
.highlight .n { color: #000000 } /* Name */
.highlight .o { color: #76c7b7 } /* Operator */
.highlight .p { color: #000000 } /* Punctuation */
.highlight .cm { color: #d0d0d0 } /* Comment.Multiline */
.highlight .cp { color: #d0d0d0 } /* Comment.Preproc */
.highlight .c1 { color: #d0d0d0 } /* Comment.Single */
.highlight .cs { color: #d0d0d0 } /* Comment.Special */
.highlight .gd { color: #fb0120 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { color: #000000; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #a1c659 } /* Generic.Inserted */
.highlight .gp { color: #d0d0d0; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #76c7b7; font-weight: bold } /* Generic.Subheading */
.highlight .kc { color: #d381c3 } /* Keyword.Constant */
.highlight .kd { color: #d381c3 } /* Keyword.Declaration */
.highlight .kn { color: #76c7b7 } /* Keyword.Namespace */
.highlight .kp { color: #d381c3 } /* Keyword.Pseudo */
.highlight .kr { color: #d381c3 } /* Keyword.Reserved */
.highlight .kt { color: #fda331 } /* Keyword.Type */
.highlight .ld { color: #a1c659 } /* Literal.Date */
.highlight .m { color: #fc6d24 } /* Literal.Number */
.highlight .s { color: #a1c659 } /* Literal.String */
.highlight .na { color: #6fb3d2 } /* Name.Attribute */
.highlight .nb { color: #000000 } /* Name.Builtin */
.highlight .nc { color: #fda331 } /* Name.Class */
.highlight .no { color: #fb0120 } /* Name.Constant */
.highlight .nd { color: #76c7b7 } /* Name.Decorator */
.highlight .ni { color: #000000 } /* Name.Entity */
.highlight .ne { color: #fb0120 } /* Name.Exception */
.highlight .nf { color: #6fb3d2 } /* Name.Function */
.highlight .nl { color: #000000 } /* Name.Label */
.highlight .nn { color: #fda331 } /* Name.Namespace */
.highlight .nx { color: #6fb3d2 } /* Name.Other */
.highlight .py { color: #000000 } /* Name.Property */
.highlight .nt { color: #76c7b7 } /* Name.Tag */
.highlight .nv { color: #fb0120 } /* Name.Variable */
.highlight .ow { color: #76c7b7 } /* Operator.Word */
.highlight .w { color: #000000 } /* Text.Whitespace */
.highlight .mf { color: #fc6d24 } /* Literal.Number.Float */
.highlight .mh { color: #fc6d24 } /* Literal.Number.Hex */
.highlight .mi { color: #fc6d24 } /* Literal.Number.Integer */
.highlight .mo { color: #fc6d24 } /* Literal.Number.Oct */
.highlight .sb { color: #a1c659 } /* Literal.String.Backtick */
.highlight .sc { color: #000000 } /* Literal.String.Char */
.highlight .sd { color: #d0d0d0 } /* Literal.String.Doc */
.highlight .s2 { color: #a1c659 } /* Literal.String.Double */
.highlight .se { color: #fc6d24 } /* Literal.String.Escape */
.highlight .sh { color: #a1c659 } /* Literal.String.Heredoc */
.highlight .si { color: #fc6d24 } /* Literal.String.Interpol */
.highlight .sx { color: #a1c659 } /* Literal.String.Other */
.highlight .sr { color: #a1c659 } /* Literal.String.Regex */
.highlight .s1 { color: #a1c659 } /* Literal.String.Single */
.highlight .ss { color: #a1c659 } /* Literal.String.Symbol */
.highlight .bp { color: #000000 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #fb0120 } /* Name.Variable.Class */
.highlight .vg { color: #fb0120 } /* Name.Variable.Global */
.highlight .vi { color: #fb0120 } /* Name.Variable.Instance */
.highlight .il { color: #fc6d24 } /* Literal.Number.Integer.Long */