@import "reset.css";
@import "pygments.css";
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Coustard:400);
body {
    font-family: "Open Sans",Helvetica,sans-serif;
    color: #4d4d4d;
    font-size: 18px;
}
@media (max-width:979px) { 
    body {
        padding-right: 25px;
        padding-left: 25px;
    }
}
h1,
h2 {
    font-family: "Coustard", serif;
    font-weight: normal;
}
h1 a,
h2 a { font-weight: normal }
h1 { font-size: 90px }
@media (max-width:979px) { 
    h1 { font-size: 75px }
}
@media (max-width:600px) { 
    h1 { font-size: 60px }
}
@media (max-width:480px) { 
    h1 { font-size: 35px }
}
h2 {
    font-size: 60px;
    margin-bottom: 10px;
}
@media (max-width:979px) { 
    h2 { font-size: 45px }
}
@media (max-width:600px) { 
    h2 { font-size: 30px }
}
h3 {
    font-size: 32px;
    font-weight: 700;
}
@media (max-width:600px) { 
    h3 { font-size: 24px }
}
h4 {
    font-size: 22px;
    font-weight: 700;
    margin-top: 40px;
}
@media (max-width:600px) { 
    h4 { font-size: 20px }
}
h5 {
    font-size: 16px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 10px;
}
@media (max-width:600px) { 
    h5 { font-size: 16px }
}
p {
    font-weight: 300;
    line-height: 1.8;
}
@media (max-width:600px) { 
    p {
        font-size: 15px;
        line-height: 2;
    }
}
p code {
  background-color: #e5e5e5
}
a {
    text-decoration: none;
    color: #4d4d4d;
    font-weight: 600;
}
a:hover { text-decoration: underline }
ul li {
    margin-bottom: 10px;
    font-weight: 300;
}
@media (max-width:600px) { 
    ul li {
        font-size: 15px;
        line-height: 20px;
    }
}
code { font: 13px Monaco }
pre {
    background: #f5f5f5;
    color: #151515;
    padding: 20px;
    margin: 0 0 20px 0;
    border-radius: 10px;
}
blockquote {
    font-weight: 400;
    font-style: italic;
    border-left: 6px solid #e5e5e5;
    padding-left: 20px;
    margin-left: -26px;
    margin-top: -1px;
    padding-bottom: 3px;
    margin: 45px 0;
    line-height: 1.45;
    font-size: 22px;
}
@media (max-width:600px) { 
    blockquote {
        margin: 25px 0;
        padding-left: 15px;
    }
}
.container {
    display: block;
    max-width: 700px;
    margin: auto;
}
header {
    display: block;
    max-width: 700px;
    margin: auto;
    padding-top: 20px;
}
footer {
    display: block;
    max-width: 700px;
    margin: auto;
    padding: 35px 0 10px 0;
    font-size: 13px;
}
footer span { color: #ff9a9a }
@media (max-width:600px) { 
    footer { font-size: 12px }
}
hr { border: 1px solid #e5e5e5 }
body#home {
    background-color: #096689;
    color: #fff;
}
body#home a { color: #fff }
body#home header {
  margin-top: 30px;
  margin-bottom: 50px;
}
body#home header p {
    font-size: 24px;
    padding: 8px 0;
    line-height: 30px;
}
@media (max-width:979px) { 
    body#home header p { font-size: 20px }
}
@media (max-width:480px) { 
    body#home header p {
        font-size: 12px;
        line-height: 18px;
    }
}
body#home header .intro {
    font-family: "Open Sans Condensed",Futura,sans-serif;
    font-size: 40px;
}
@media (max-width:979px) { 
    body#home header .intro { font-size: 30px }
}
@media (max-width:480px) { 
    body#home header .intro {
        font-size: 20px;
        margin-bottom: 8px;
    }
}
body#home ul.social {
    zoom: 1;
    padding: 10px 0 25px;
}
body#home ul.social:before {
    content: '';
    display: block;
}
body#home ul.social:after {
    content: '';
    display: table;
    clear: both;
}
body#home ul.social li {
    float: left;
    margin: auto;
}
body#home ul.social li img {
    width: 75px;
    margin-right: 10px;
}
@media (max-width:480px) { 
    body#home ul.social li img { width: 50px }
}
body#home .posts,
body#home .repos {
    display: block;
    max-width: 700px;
    margin: auto;
    padding-bottom: 30px;
}
body#home .posts h2,
body#home .repos h2 {
    margin-bottom: 20px;
}
body#home .posts article,
body#home .repos div { padding-bottom: 20px }
body#home .posts article h3,
body#home .repos div h3 { padding: 15px 0 10px 0 }
body#home .posts article time,
body#home .repos div time,
body#home .posts article .time,
body#home .repos div .time {
    display: block;
    text-transform: uppercase;
    opacity: .5;
    filter: alpha(opacity=50);
    font-size: 14px;
}
body#post h2 { margin-bottom: 40px }
body#post header { 
  margin-top: 30px;
  margin-bottom: 18px;
}
body#post header h3 { padding-bottom: px }
body#post header time {
    color: #b3b3b3;
    font-size: 13px;
}
@media (max-width:480px) { 
    body#post header time { font-size: 15px }
}
body#post .content {
    display: block;
    max-width: 700px;
    margin: auto;
}
body#post .content img {
    width: 100%;
    margin: auto;
    padding-top: 25px;
}
body#post .content p { margin-bottom: 1em }
body#post .content h4 { padding: .5em 0 }
body#post .content ul {
    list-style: disc;
    margin-bottom: 1em;
}
body#post .content ul li {
    margin: 0 25px;
    line-height: 30px;
}
@media (max-width:600px) { 
    body#post .content ul li { line-height: 20px }
}
body#thanks .gratitude {
    display: block;
    max-width: 700px;
    margin: auto;
}
body#thanks .gratitude p { margin: 1em 0 }
body#thanks .gratitude ul { margin-top: 25px }
body#thanks .gratitude ul li { margin-bottom: 10px }
body#ruhroh header { text-align: center }
body#ruhroh header p { margin-bottom: 1em }