---
layout: main
---

{{ define "layout" }}
<div class="home">
  <ul class="posts">
    {{ range .Posts }}
      <li>
        <span class="post-date">
          {{ date "January _2, 2006" .Date }}
        </span>
        <a class="post-link" href="{{ .URL }}">
          {{ .Title }}
        </a>
        <p class="post-preview">
          {{ .Content | stripHtml | truncateWords 40 }}
        </p>
      </li>
    {{ end }}
  </ul>
</div>
{{ end }}
