<footer class="site-footer">

  <div class="wrap">

    <div class="footer-content">
      <ul class="meta">
        <li><a href="http://github.com/{{ site.github }}">
          <i class="fa fa-github-square"></i>
        </a></li>
        <li><a href="http://twitter.com/{{ site.twitter }}">
          <i class="fa fa-twitter-square"></i>
        </a></li>
        <li><a href="mailto:{{ site.email }}">
          <i class="fa fa-envelope-square"></i>
        </a></li>
      </ul>

      <div class="footer-about">
        <a href="/about">About</a>
      </div>
    </div>

  </div>

</footer>
